     
      <!-- ========================= 
            Google Map :     
    =========================  -->
     <!-- CLICK HERE (https://developers.google.com/maps/documentation/embed/get-api-key) TO  LERAN MORE ABOUT GOOGLE MAPS API KEY -->
   
  <!--  <section class="google-map py-0">
        <div id="map" style="height: 500px;"></div>
        <script src="assets/js/google-map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
       </section>
      -->
       <!-- /.GoogleMap -->

       <!-- Temp Section-->
       <div style="margin-top: 100px;">
        <span>&nbsp;</span>
     </div>
     
           <!-- ==========================
               contact layout 1
           =========================== -->
           <section class="contact-layout1 pt-0 mt--100">
             <div class="container">
               <div class="row">
                 <div class="col-12">
                   <div class="contact-panel d-flex flex-wrap">
                     <div class="contact-panel__info">
                       <div class="bg-img"><img src="assets/images/backgrounds/3.jpg" alt="banner"></div>
                       <div class="contact-block">
                         <h2 class="contact-block__title">An Organiztion that's ethical</h2>
                         <ul class="contact-block__list list-unstyled">
                           <li>We are always reachable, feel free to ask for any concern, queries our legal team will proactively will support </li>
                         </ul>
                       </div><!-- /.contact-panel__info__block -->
                       <div class="contact-block">
                         <h5 class="contact-block__title">Leagal Team</h5>
                         <ul class="contact-block__list list-unstyled">
                           <li>Our Legal Team is always active to protect our organization Social Brand Value, our associates our partners and customers. Hence if you noticed anywhere any discreapancy to obey legal rules and regulation , reach to us immediately. </li>
                           <li>Our vigilance team is always active to reach you in a hour.</li>                         
                        </ul>
                       </div><!-- /.contact-panel__info__block -->
                       <div class="contact-block">
                         <h5 class="contact-block__title"> Associates Working accross PAN India & Abroad </h5>
                         <ul class="contact-block__list list-unstyled">
                           <li>Work From Home (WHF), Work From Remote (WFR)</li>
                         </ul>
                       </div><!-- /.contact-panel__info__block -->
     
                       <div class="contact-block">
                         <h5 class="contact-block__title">Quick Contact</h5>
                         <ul class="contact-block__list list-unstyled">
                           <li><a href="mailto:careers@pcsglobal.in"></a>Email:legal@pcsglobal.in</li>                         
                         </ul>
                       </div><!-- /.contact-panel__info__block -->
                       <div class="contact-block">
                         <h5 class="contact-block__title">Opening Hours</h5>
                         <ul class="contact-block__list list-unstyled">
                           <li>Monday - Friday</li>
                           <li>09:00 AM - 06:00 PM</li>
                         </ul>
                       </div><!-- /.contact-panel__info__block -->
                       <div class="contact-block">
                         <h5 class="contact-block__title">Contact No.</h5>
                         <ul class="contact-block__list list-unstyled">
                           <li>+91-8334001667 | (+91) 033-23440159                       
                             </li>                     
                         </ul>
                       </div><!-- /.contact-panel__info__block -->
                       <p class="color-white mb-20">If you have any questions or need help, feel free to contact with our team.
                       </p>
                       <a href="tel:+91-8334001667 | (+91) 033-23440159" class="phone-number">
                         <i class="icon-phone"></i> <span>+91-8334001667 | (+91) 033-23440159</span>
                       </a>
                     </div>
                     <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
                       <div class="row">
                         <div class="col-sm-12">
                           <h4 class="contact-panel__title">Grievance redressal</h4>
                           <p class="contact-panel__desc mb-20">Feel Free to raise your concern, issues and if any grievance or complain to organization or from any individual person in organization</p>
                         </div>
                         <div class="col-sm-6 col-md-6 col-lg-6">
                           <div class="form-group">
                             <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name"
                               required>
                           </div>
                         </div><!-- /.col-lg-6 -->
                         <div class="col-sm-6 col-md-6 col-lg-6">
                           <div class="form-group">
                             <input type="email" class="form-control" placeholder="Email" id="contact-email"
                               name="contact-email" required>
                           </div>
                         </div><!-- /.col-lg-6 -->
                         <div class="col-sm-6 col-md-6 col-lg-6">
                           <div class="form-group">
                             <input type="text" class="form-control" placeholder="Phone" id="contact-Phone"
                               name="contact-phone" required>
                           </div>
                         </div><!-- /.col-lg-6 -->
                         <div class="col-sm-6 col-md-6 col-lg-6">
                           <div class="form-group">
                             <input type="text" class="form-control" placeholder="Website (optional)" id="contact-website"
                               name="contact-website">
                           </div>
                         </div><!-- /.col-lg-6 -->
                         <div class="col-12">
                           <div class="form-group">
                             <textarea class="form-control" placeholder="Describe your inquirey!" id="contact-message"
                               name="contact-message"></textarea>
                           </div>
                           <button type="submit" class="btn btn__primary btn__icon btn__xhight mt-10">
                             <span>Submit Request</span> <i class="icon-arrow-right"></i>
                           </button>
                           <div class="contact-result"></div>
                         </div><!-- /.col-lg-12 -->
                       </div><!-- /.row -->
                     </form>
                   </div>
                 </div><!-- /.col-lg-6 -->
               </div><!-- /.row -->
             </div><!-- /.container -->
           </section><!-- /.contact layout 1 -->
       
           <!-- ==========================
              Contact Info
           ============================ -->
           <section class="contact-info pt-0 pb-70">
             <div class="container">
               <div class="row">
                 <!-- Contact panel #1 -->
                 <div class="col-sm-12 col-md-4 col-lg-4">
                   <div class="contact-info-box">
                     <h4 class="contact__info-box-title">Kolkata Office</h4>
                     <ul class="contact__info-list list-unstyled">
                       <li>Email: <a href="mailto:hr@pcsglobal.in">hr@pcsglobal.in</a></li>
                       <li>Address: DN-36, Suite-1101, Primarc Tower, Saltlake , Sector-v , Kolkata-91</li>
                       <li>Phone: <a href="tel:+91-8334001667 | (+91) 033-23440159">+91-8334001667 | (+91) 033-23440159</a></li>
                       <li>Hours: 24*7</li>
                     </ul><!-- /.contact__info-list -->
                   </div><!-- /.contact-info-box -->
                 </div><!-- /.col-lg-4 -->
                 <!-- Contact panel #2 -->
                 <div class="col-sm-12 col-md-4 col-lg-4">
                   <div class="contact-info-box">
                     <h4 class="contact__info-box-title">Bengaluru Office</h4>
                     <ul class="contact__info-list list-unstyled">
                       <li>Email: <a href="mailto:hr@pcsglobal.in">hr@pcsglobal.in</a></li>
                       <li>Address:1st floor , 196/A , 4th Cross Road , KBH Colony , 5th Block , Koramangala ,Bengaluru , Karnataka - 560095</li>
                       <li>Phone: <a href="tel:+91-8334001667 | (+91) 033-23440159">+91-8334001667 | (+91) 033-23440159</a></li>
                       <li>Hours: 24*7 </li>
                     </ul><!-- /.contact__info-list -->
                   </div><!-- /.contact-info-box -->
                 </div><!-- /.col-lg-4 -->
                 <!-- Contact panel #3 -->
                 <div class="col-sm-12 col-md-4 col-lg-4">
                   <div class="contact-info-box">
                     <h4 class="contact__info-box-title">Virtual Office accross PAN-India & Abroad</h4>
                     <ul class="contact__info-list list-unstyled">
                       <li>Email: <a href="mailto:hr@pcsglobal.in">hr@pcsglobal.in</a></li>
                       <li>Work From Anywhere</li>
                       <li>Phone: <a href="tel:+91-8334001667 | (+91) 033-23440159">+91-8334001667 | (+91) 033-23440159</a></li>
                       <li>Hours:24*7</li>
                     </ul><!-- /.contact__info-list -->
                   </div><!-- /.contact-info-box -->
                 </div><!-- /.col-lg-4 -->
               </div><!-- /.row -->
             </div><!-- /.container -->
           </section><!-- /.Contact Info -->
       <!-- ========================
            Counters
           =========================== -->
           <section class="counters pt-60">
             <div class="container">
               <div class="row">
                 <!-- counter item #1 -->
                 <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="counter-item">
                     <h4 class="counter">31</h4>
                     <p class="counter__desc">Projects And Software Developed in 2021</p>
                   </div><!-- /.counter-item -->
                 </div><!-- /.col-lg-3 -->
                 <!-- counter item #2 -->
                 <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="counter-item">
                     <h4 class="counter">1330</h4>
                     <p class="counter__desc">Software Developer Produced by PCS Global</p>
                   </div><!-- /.counter-item -->
                 </div><!-- /.col-lg-3 -->
                 <!-- counter item #3 -->
                 <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="counter-item">
                     <h4 class="counter">27</h4>
                     <p class="counter__desc">Satisfied Clients We Have Served Globally</p>
                   </div><!-- /.counter-item -->
                 </div><!-- /.col-lg-3 -->
                 <!-- counter item #4 -->
                 <div class="col-sm-6 col-md-3 col-lg-3">
                   <div class="counter-item">
                     <h4 class="counter">10</h4>
                     <p class="counter__desc">Years Of Experience In The IT & Software Industry</p>
                   </div><!-- /.counter-item -->
                 </div><!-- /.col-lg-3 -->
               </div><!-- /.row -->
             </div><!-- /.container -->
           </section><!-- /.counters -->