 <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-gradient bg-parallax text-center">
        <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
              <h1 class="pagetitle__heading">Careers</h1>
              <p class="pagetitle__desc mb-0"></p>           
           </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
  
      <!-- ========================
        Secondary Nav
      =========================== -->
      <section class="secondary-nav sticky-top py-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="nav nav-tabs justify-content-center">
                <a href="#" class="nav__link active">About Us</a>
                <a href="#" class="nav__link">Why PCS Global ?</a>
                <a href="#" class="nav__link">Leadership Team</a>
                <a href="#" class="nav__link">Awards & Recognition</a>               
                <a href="#" class="nav__link">Help & FAQs</a>
                <a href="#" class="nav__link">Careers</a>
              </nav>
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Secondary Nav -->

      <section class="secondary-nav sticky-top py-0">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p style="padding-top: 10px;font-weight: bold;">PCS Global has four separate business wings . A. Software Development B. Training C. Talent Outsourcing D. Technical Support (Individual & Companies beyond PCS Global)
              </p>           
        <p>
        <font style="color:red;font-weight: bold;">Selection of skilled manpower for Software Development & Deputation of Technical Resources to our partner Software Companies/Clients Companies strictly based upon merit only.PCS Global never charges any money in terms of job. </font>
        </p>  
        
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Secondary Nav -->
     
     
     

      <!-- ========================
        About Layout 2
      =========================== -->
      <section class="about-layout2 pt-130 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
              <div class="about__img mb-40">
                <img src="assets/office-photo-gallery/5.png" alt="about">
             <!-- <blockquote class="blockquote mb-0">
                  <h4 class="blockquote__title">You are helping to lead the charge; we can help you build on your
                    past successes and prepare for your great future.
                  </h4>
                  <span class="blockquote__author">#</span>
                </blockquote>
              -->
              </div><!-- /.about-img -->
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-1">
              <div class="heading-layout2 mb-40">
                <h2 class="heading__subtitle">Improve Efficiency and Provide Better Experiences!</h2>
                <h3 class="heading__title">Current Requirement</h3>
              </div><!-- /heading -->
              <div class="about-text-wrapper">
                <div class="about__Text">
                  JAVA J2EE Developer
                  <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/M-Tech/MCA/M.Sc(Comp)<br/>
                      <font style="font-weight:bold"  >  Experience : </font> 0 - 1 Yr <br/>
                      <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Having good knowledge of JAVA J2EE And Server Like Jonas, Apache Tomcat<br/>
                      <font style="font-weight:bold"  >  Skills : </font> Strong Programming Skills in Java,JSP,Servlets,Struts-1,Struts-2,Spring with Hibernate, Eclipse,Webservices<br/>
                      <font style="font-weight:bold"  >  Software Platform Experience : </font> Usage of Design Patterns,MVC framework, IDE Tools <br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
                  </p>
                  <div></div>
                  .NET Developer
                  <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/M-Tech/MCA/M.Sc(Comp)<br/>
                      <font style="font-weight:bold"  >  Experience : </font> 0- 1 Yr <br/>
                      <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Having good knowledge of JAVA J2EE And Server Like Jonas, Apache Tomcat<br/>
                      <font style="font-weight:bold"  >  Skills : </font> Strong Programming Skills in ASP .NET/VB.NET/Silverlight/WPF<br/>
                      <font style="font-weight:bold"  >  Software Platform Experience : </font> Usage of Design Patterns,MVC framework, IDE Tools <br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
                  </p>
                  <div></div>
                   DBA (Database Administrator)
                     <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/M-Tech/MCA/M.Sc(Comp)<br/>
                      <font style="font-weight:bold"  >  Experience : </font> 0- 1 Yr <br/>
                      <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Having good knowledge of Database Management ,PL/SQL<br/>
                      <font style="font-weight:bold"  >  Skills : </font> Strong Programming Skills in PL/SQL,Oracle/MySql<br/>
                      <font style="font-weight:bold"  >  Software Platform Experience : </font> Database Design Experience <br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
                  </p>
                  <div></div>
                  PHP/MySQL Developer
                  <p>
                      <font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/MCA <br/>
                      <font style="font-weight:bold"  >  Experience : </font> 0 - 5Yr <br/>
                      <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Develop high-end PHP5 / MySQL5 based websites. <br/>
                      <font style="font-weight:bold"  >  Skills : </font> Should have good knowledge of SQL (general), class / OOP, PHP5, AJAX, Jquery, XML.<br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
              
                  </p>
                  <div class="bg"></div>
                  Web Designer 
                  <p>
                      <font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> Any Graduate<br/>
                      <font style="font-weight:bold"  >  Experience : </font> 0 - 1 Yr <br/>
                      <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Develop high-end website design. <br/>
                      <font style="font-weight:bold"  >  Skills : </font> Should have good knowledge of CSS,HTML,Flush,AJAX, Jquery, XML.<br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
              
                  </p>   
              
                  <div class="bg"></div>
                  Testers 
                  <p>
                      <font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> Any Graduate<br/>
                      <font style="font-weight:bold"  >  Experience : </font> 0 - 1 Yr <br/>
                      <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Manual and tool based testing <br/>
                      <font style="font-weight:bold"  >  Skills : </font> Should have good knowledge testing methodologies<br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
              
                  </p>           
                  <div class="bg"></div>
                  Telecaller
                  <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> Education UG - Any Graduate - Any Specialization <br/>
                      <font style="font-weight:bold"  >  Experience : </font> 6 Months - 1 Yr <br/>
                      <font style="font-weight:bold"  >  Skills : </font> Should have Excellent Communication Skills and Convincing Power. Fluent in English, Hindi & Bengali.
                      Should be able to work with a Team.
                      Good at Computers.<br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
              
                  </p>
              
                  <div class="bg"></div>
                  Career Counselor
                  <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> Education UG - Any Graduate - Any Specialization <br/>
                      <font style="font-weight:bold"  >  Experience : </font> 2- 3 Yrs ( Candidates with Experience in Educational Sector will be preffered.) <br/>
              
                      <font style="font-weight:bold"  >  Skills : </font> having good approachable personality coupled with impeccable communication skills. Assessing the knowledge, skills, and attitudes of an individual and suggesting the right career choices for him or her.<br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                        </p>
              
                  <div class="bg"></div>
                  Content writer
                  <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
                      <font style="font-weight:bold"  >  Qualification : </font> Education UG - Any Graduate - Any Specialization <br/>
                      <font style="font-weight:bold"  >  Experience : </font> 2 - 3 Yrs <br/>
              
                      <font style="font-weight:bold"  >  Skills : </font> having good varbal and writing skills in English.<br/>
                      <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
                      <p>&nbsp;</p>
                  <p>&nbsp;</p>
                </div>
              
              </div>
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.About Layout 2 -->
  
      <!-- ======================
      History Timeline
      ========================= -->
      <section class="history-timeline pt-130 pb-130">
        <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <h2 class="heading__subtitle color-primary">Career path of an Engineer at PCS Global</h2>
              <h3 class="heading__title color-white">We fuel the future Of dream career.</h3>
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div>
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">Entry Level Junior Designation</h4>
                  <p class="timeline__desc"> * Trainee Software Engineer * TRainee Software Developer * Trainee Data Analyst 
                  </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #2 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">Next Promotion</h4>
                  <p class="timeline__desc">* Junior Software Engineer * Junior Software Developer * Junior Data Analyst </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #3 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">Next Promotion</h4>
                  <p class="timeline__desc">*Software Engineer *Software Developer *Data Analyst</p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #4 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">Next Promotion</h4>
                  <p class="timeline__desc">*Team Lead & Project Manager</p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #4 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">Next Promotion</h4>
                  <p class="timeline__desc">* Sr. Consultant *Principal Consultant</p>
                </div><!-- /.timeline-item -->
              </div>
            <!-- <div class="cta-banner mt-70">
                <h4 class="cta__title">Provide users with appropriate view and access permissions to requests,
                  problems, changes, contracts, assets, solutions, and reports with our experienced professionals.</h4>
                <div class="d-flex flex-wrap">
                  <a href="#" class="btn btn__primary btn__primary-style2 btn__xl mr-20">
                    <i class="far fa-file-alt"></i>
                    <span>Download Brochure</span>
                  </a>
                  <a href="#" class="btn btn__white btn__outlined">Get Started</a>
                </div>
              </div> -->
              <!-- /.cta-banner -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.History Timeline -->
  
      <!-- ========================
       gallery
      =========================== -->
      <section class="gallery pt-130 pb-90">
        <div class="container max-width-1300">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div class="gallery-images-wrapper">
                <a class="popup-gallery-item" href="assets/office-photo-gallery/2.png">
                  <img src="assets/office-photo-gallery/2.png" alt="gallery img">
                </a>
                <a class="popup-gallery-item" href="assets/office-photo-gallery/3.png">
                  <img src="assets/office-photo-gallery/3.png" alt="gallery img">
                </a>
                <a class="popup-gallery-item" href="assets/office-photo-gallery/4.png">
                  <img src="assets/office-photo-gallery/4.png" alt="gallery img">
                </a>
                <a class="popup-gallery-item" href="assets/office-photo-gallery/5.png">
                  <img src="assets/office-photo-gallery/5.png" alt="gallery img">
                </a>
              </div><!-- /.gallery-images-wrapper -->
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 offset-xl-1">
              <div class="sticky-top">
                <h2 class="heading__subtitle">Improve Efficiency and Provide Better Experiences!</h2>
                <h3 class="heading__title">Join The Best Working To Build Greatest Talent! company in the world.</h3>
                <p>We believe that honesty, integrity, and a commitment to ethical
                  business practices is a fundamental to how conduct ourselves in each interaction we have.</p>
                <p>Managed cloud services, mobile solutions, telecommunication services, managed security services, and
                  emergency support.</p>
                <a href="#" class="btn btn__primary mt-30">
                  <span>Our Careers</span> <i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.gallery -->
  
      <!-- ========================
       Counters
      =========================== -->
      <section class="counters pt-60">
        <div class="container">
          <div class="row">
            <!-- counter item #1 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">31</h4>
                <p class="counter__desc">Projects And Software Developed in 2021</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #2 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">1330</h4>
                <p class="counter__desc">Software Developer Produced by PCS Global</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #3 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">27</h4>
                <p class="counter__desc">Satisfied Clients We Have Served Globally</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #4 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">10</h4>
                <p class="counter__desc">Years Of Experience In The IT & Software Industry</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.counters -->
  


