

<h2>Academic Partners</h2>
<div class="container">
  <div class="row flex">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail" >
        <img src="assets/images/partners/academic-partners/techno.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/jis-group.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/arkajainuniv.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/jgec.jfif" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/kazirangauniv.jfif" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/dbrait.jfif" style="border-style: solid;border-color: silver; padding: 20px; width:300px;height:200px" />
      </div>
    </div>
   <!-- <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/kazirangauniv.jfif"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;"/>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/kazirangauniv.jfif" style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/academic-partners/kazirangauniv.jfif"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="assets/images/partners/academic-partners/kazirangauniv.jfif"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="assets/images/partners/academic-partners/kazirangauniv.jfif"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="assets/images/partners/academic-partners/kazirangauniv.jfif"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
        </div>
      </div>
    -->

     
  </div>
</div>
-------------------------------------------------------------------------

