<header class="header header-light">
  <div class="header__topbar"> <!-- style="background: #2d30ce"> -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center justify-content-between  ">
            <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
              <li>
                <i class="icon-phone"></i><a href="#"> (+91) 033-23440159 </a>
              </li>
              <li>
                <i class="icon-mail"></i><a href="mailto:careers@pcsglobal.in">careers@pcsglobal.in |
                  careers@pcsglobal.co.in |</a>
              </li>
              <li>
                <i class="icon-clock"></i><a routerLink="contact-us" routerLinkActive="active">Contact Us : 24*7</a>
              </li>
              <li>
                <i class="icon-clock"></i><a href="contact-us.html">
                  <font> We are hirining fresh & exp. developers!</font>
                </a>
              </li>
            </ul>
            <ul class="list-unstyled d-flex justify-content-end align-items-center mb-0">
              <li>
                <ul class="navbar-actions list-unstyled mb-0 d-flex align-items-center">
                  <li>
                    <!--  <button class="action__btn action__btn-login open-login-popup">
                                            <i class="fa fa-facebook-square"></i>
                                        </button> -->
                    <a href="https://www.facebook.com/hrpcsglobal" target="_blank">
                      <img src="assets/images/icons/facebook.png" style="margin: 2px" />
                    </a>
                    <a href="https://pcs-global-pvt-ltd.blogspot.com" target="_blank">
                      <img src="assets/images/icons/blog.png" style="margin: 2px" />
                    </a>
                    <a href="https://twitter.com/PCSGlobal2" target="_blank">
                      <img src="assets/images/icons/Twitter.jpg" style="margin: 2px; width: 32px; height: 32px" />
                    </a>
                    <a href="https://www.linkedin.com/company/14401725" target="_blank">
                      <img src="assets/images/icons/linkedin.png" style="margin: 2px" /></a>
                    <a href="https://www.youtube.com/@PCSGlobalPrivateLimited" target="_blank">
                      <img src="assets/images/icons/Youtube_logo.png" style="margin: 2px; width: 32px; height: 32px" />
                    </a>
                  </li>
                </ul>
                <!-- /.navbar-actions -->
              </li>
            </ul>
          </div>
        </div>
        <!-- /.col-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.header-top -->
  <nav class="navbar navbar-expand-lg sticky-navbar">
    <div class="container-fluid">
      <div class="col-sm-12">
        <a class="navbar-brand" href="index.html">
          <img src="assets/images/Logo Pcs global.jpg" class="logo-light img-fluid" alt="logo"
            style="width: 298px; height: 79px;" />
          <img src="assets/images/Logo Pcs global.jpg" class="logo-dark img-fluid" alt="logo"
            style="width: 210px; height: 100px;" />
        </a>


        <!-- <font style="color:red;padding: 10px;">*</font>
                <font style="font-size: 20px;">Software Development </font>
                <font style="color:red;padding: 10px">*</font>
                <font style="font-size: 20px;">Learning and Development</font>
                <font style="color:red;padding: 10px">*</font>
                <font style="font-size: 20px;">Talent Outsourcing </font>
                <font style="color:red;padding: 10px">*</font>
                <font style="font-size: 20px;">Technical Consultancy(IT Only)</font>
                -->

        <span class="blinking" align="center" style="color: red; padding-left: 10px; font-weight: bold">
          "Give your trust and faith upon me , I will give you freedom from the
          pain of staying freshers after education." - Founder
          <a href="http://www.alokhalder.com" target="_blank">Mr. Alok Halder</a>
        </span>
      </div>
      <!-- /.container -->
    </div>
    <div class="container-fluid mheight" style="background: #2d30ce">
      <div class="container -fluid" style="display: block !important">
        <button class="navbar-toggler" type="button">
          <span class="menu-lines"><span></span></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav__item has-dropdown">
              <a routerLink="" routerLinkActive="active" data-toggle="dropdown"
                class="dropdown-toggle nav__item-link active">Home</a>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item has-dropdown">
              <a routerLink="about-us" routerLinkActive="active" class="nav__item-link">Company</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="about-us" routerLinkActive="active" class="nav__item-link">Know Our Company</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="message-from-ceo" routerLinkActive="active" class="nav__item-link">Message From CEO</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="foundar-message" routerLinkActive="active" class="nav__item-link">Message From
                    Founder</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="management-team" routerLinkActive="active" class="nav__item-link">Leadership Team</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="developer-team" routerLinkActive="active" class="nav__item-link">Developer Team</a>
                </li>
                <li class="nav__item">
                  <a routerLink="our-team" routerLinkActive="active" class="nav__item-link">Our Team</a>
                </li>
              </ul>
              <!-- /.dropdown-menu -->
            </li>
            <!-- /.nav-item -->
            <li class="nav__item has-dropdown">
              <a routerLink="services" routerLinkActive="active" data-toggle="dropdown"
                class="dropdown-toggle nav__item-link">Services</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="#" routerLinkActive="active" class="nav__item-link">Software Development</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="#" routerLinkActive="active" class="nav__item-link">Hire Developers From Us</a>
                </li>
                <!-- /.nav-item -->

                <li class="nav__item">
                  <a routerLink="#" routerLinkActive="active" class="nav__item-link">Learning & Development</a>
                </li>
                <!-- /.nav-item -->

                <li class="nav__item">
                  <a routerLink="#" routerLinkActive="active" class="nav__item-link">Technical Consultancy</a>
                </li>
                <!-- /.nav-item -->
              </ul>
              <!-- /.dropdown-menu -->
            </li>
            <!-- /.nav-item -->

            <li class="nav__item has-dropdown">
              <a routerLink="job-support" routerLinkActive="active" data-toggle="dropdown"
                class="dropdown-toggle nav__item-link">Job Support</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="hire-developers" routerLinkActive="active" class="nav__item-link">Hire Developers</a>
                </li>
                <!-- /.nav-item -->
              </ul>
              <!-- /.dropdown-menu -->
            </li>
            <!-- /.nav-item -->

            <li class="nav__item has-dropdown">
              <a routerLink="industry" routerLinkActive="active" data-toggle="dropdown"
                class="dropdown-toggle nav__item-link">Industry</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="bfs" routerLinkActive="active" class="nav__item-link">Banking & Financial Services</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="life-science" routerLinkActive="active" class="nav__item-link">
                    Life Science</a>
                </li>
                <!-- /.nav-item -->
              </ul>
              <!-- /.dropdown-menu -->
            </li>
            <!-- /.nav-item -->

            <li class="nav__item has-dropdown">
              <a routerLink="portfolio" routerLinkActive="active" class="nav__item-link">portfolio</a>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item has-dropdown">
              <a routerLink="analytics" routerLinkActive="active" class="nav__item-link">Analytics</a>
              <!-- <ul class="dropdown-menu">
                                <li class="nav__item">
                                    <a href="#" class="nav__item-link">Coming Soon</a>
                                </li>
                                <li class="nav__item">
                                    <a href="#" class="nav__item-link">Coming Soon</a>
                               </li>
                            </ul> -->
            </li>
            <!-- /.nav-item -->
            <li class="nav__item has-dropdown">
              <a routerLink="partners" routerLinkActive="active" data-toggle="dropdown"
                class="dropdown-toggle nav__item-link">Partners</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="corporate" routerLinkActive="active" class="nav__item-link">Corporate</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="academic-partners" routerLinkActive="active" class="nav__item-link">Academic
                    Partners</a>
                </li>
                <!-- /.nav-item -->
              </ul>
              <!-- /.dropdown-menu -->
            </li>
            <!-- /.nav-item -->

            <li class="nav__item has-dropdown">
              <a routerLink="careers" routerLinkActive="active" class="nav__item-link">Careers</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="employee-speak" routerLinkActive="active" class="nav__item-link">employee-speak</a>
                </li>
                <li class="nav__item">
                  <a routerLink="work-culture" routerLinkActive="active" class="nav__item-link">Work Culture</a>
                </li>
                <li class="nav__item">
                  <a routerLink="careers" routerLinkActive="active" class="nav__item-link">Current Job Openings</a>
                </li>
                <li class="nav__item">
                  <a routerLink="platform-for-freshers" class="nav__item-link">Platform for Freshers</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Voice Of Associates</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Road Map - Full Stack Java Developer</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Road Map - Full Stack Python Developer</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Road Map - Full Stack Android Developer</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Road Map - Salesforce</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">UI/UX Designer</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Software Tester</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">HR Counselor</a>
                </li>
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">Marketing Executive</a>
                </li>
                <br />
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">EILP</a>
                </li>
                <br />
                <li class="nav__item">
                  <a routerLink="#" class="nav__item-link">CELP</a>
                </li>
              </ul>
            </li>
            <!-- /.nav-item -->

            <li class="nav__item has-dropdown">
              <a routerLink="training" routerLinkActive="active" class="nav__item-link">L&D</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="tcs-ninja-test-preparation" routerLinkActive="active" class="nav__item-link">TCS Ninja
                    Hiring Test Prep
                    <font style="color: red; padding-left: 200px">(Free Of Cost)</font>
                  </a>
                </li>
                <li class="nav__item">
                  <a routerLink="youth-employeebility-program" routerLinkActive="active" class="nav__item-link">Youth
                    Employability Program (Free Of Cost)</a>
                </li>
                <li class="nav__item">
                  <a routerLink="online-training" routerLinkActive="active" class="nav__item-link">Weekend Program (Free
                    Of Cost)</a>
                </li>
                <li class="nav__item">
                  <a routerLink="online-training" routerLinkActive="active" class="nav__item-link">Online Training</a>
                </li>
                <li class="nav__item">
                  <a routerLink="classroom-training" routerLinkActive="active" class="nav__item-link">Classroom
                    Training</a>
                </li>
                <li class="nav__item">
                  <a routerLink="project-training" routerLinkActive="active" class="nav__item-link">Project Training</a>
                </li>
                <li class="nav__item">
                  <a routerLink="weekend-training" routerLinkActive="active" class="nav__item-link">Weekend Training</a>
                </li>
                <li class="nav__item">
                  <a routerLink="corporate-training" routerLinkActive="active" class="nav__item-link">Corporate
                    Training</a>
                </li>
                <li class="nav__item">
                  <a routerLink="workshop" routerLinkActive="active" class="nav__item-link">Workshop Online/F2F</a>
                </li>
                <li class="nav__item">
                  <a routerLink="training" routerLinkActive="active" class="nav__item-link">View Course Details</a>
                </li>
                <li class="nav__item">
                  <a routerLink="training" routerLinkActive="active" class="nav__item-link">ILP Training Details</a>
                </li>
              </ul>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item has-dropdown">
              <a routerLink="gallery" routerLinkActive="active" class="nav__item-link">Gallery</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="org-theme-video" routerLinkActive="active" class="nav__item-link">Eye On The Sky</a>
                </li>
                <li class="nav__item">
                  <a routerLink="photo-gallery" routerLinkActive="active" class="nav__item-link">Photo Gallery</a>
                </li>
                <li class="nav__item">
                  <a routerLink="video-gallery" routerLinkActive="active" class="nav__item-link">Video Gallery</a>
                </li>
                <!-- <li class="nav__item">
                                <a href="#" class="nav__item-link">Virtual Office</a>
                               </li>  -->
              </ul>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item">
              <a routerLink="contact-us" routerLinkActive="active" data-toggle="dropdown"
                class="dropdown-toggle nav__item-link">Contact Us</a>
              <ul class="dropdown-menu">
                <li class="nav__item">
                  <a routerLink="../contact-us" routerLinkActive="active" class="nav__item-link">Contact Us</a>
                </li>
                <!-- /.nav-item -->
                <li class="nav__item">
                  <a routerLink="../legal-team" routerLinkActive="active" class="nav__item-link">Legal Team</a>
                </li>
                <!-- /.nav-item -->
              </ul>
              <!-- /.dropdown-menu -->
            </li>
            <!-- /.nav-item -->
          </ul>
          <!-- /.navbar-nav -->
          <button class="close-mobile-menu d-block d-lg-none">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </div>
  </nav>
  <!-- /.navabr -->
</header>
<!-- /.Header -->
<router-outlet></router-outlet>