
<div>

    <span style="text-align: center" style="width:700px;padding:10px">
         <table>
             <tr>
              <td style="padding: 20px;">

<h2>
    <font color="#800000">Freshers Career (A guideline for freshers to begin IT career)</font>
</h2>
<p><strong>PERENNATIONS COMPUTER SOLUTIONS Global PRIVATE LIMITED (PCS Global) </strong> is a pioneer company comprising
    of three departments Web Development,Software Consulting Solution and Information Security to Industry
    Clients.Currently we have two branch offices at Kolkata &amp; Siliguri</p>
<p>We started our journey in 2006 and have about six years of experience in software development. From 2010 we are also
    providing software development services to industries. This company was proprietorship since September,2010 and
    recently promoted as a Private Limited company 9th September,2013 with name as PERENNATION COMPUTER
        SOLUTIONS GLOBAL PRIVATE LIMITED (PCS GLOBAL PVT. LTD.)
 </p>
<p>PCS Global is nither a Placement Consultancy nor a Job Consultancy ,we are dedicatedly working Software development &
    IT-Services arena only</p>
<p>Here freshers can grow their promising software developer career and achieve the ability to take challenges in
    software development jobs.</p>
<p>Every year engineering colleges produce thousands of freshers who look for entry into the IT industry. Fortunate
    students get jobs through campus placements. But those students who don't get placed face a lot of difficulty
    finding a job in the IT Industry without proficiency in any one of these technologies; JAVA/J2EE, .net , PHP/SQL,
    Software Testing.</p>
<p>Industries work using thousands of technologies but path of those freshers who did not get placed from campus get
    narrowed to start their career in any of the technologies like JAVA/J2EE, .net, PHP, Oracle until and unless they
    have worked for a good brand or MNC.</p>
<p>Companies prefer candidates with experience in these technologies than freshers. The client software development task
    is much more complex than the small projects that the candidates perform while they are in the campus as internships
</p>
<p>Freshers will have to keep in mind that there is no shortcut, no backdoor entry or no miracle in this process of
    being placed. You will have to be passionate and motivated towards learning these technologies. You will have to
    literally be in love with theses technologies. You will have to know at least one of these technologies from line
    one to the end to get into big MNCs.</p>
<p>If you don't get a campus placement, do not get demotivated, don't think your life is ruined. Do not waste energy or
    time looking for shortcut method by bribe or forgery. There is enough requirement for all of you but you need to
    prepare yourself first by channelizing your interests. Begining of career is also an Art ,you need to know it first.
</p>
<p>Wisely career planning is most important. If you plan for Govt Job plan for minimum two years with 15-16 hours
    average effort. If you plan for IT jobs chose one technology like J2EE,.NET,PHP and hard work upto 15-16 hours in a
    day. Career gap has worst impact for IT career. Beginning of career do not concentrate how much salary you can get
    from a company . First prove your capability of work and gain working experience. Don't think only your degree like
    BE/B-Tech/MCA and good academic grade will give you a good job. Thousands of thousands freshers are searching jobs
    who has same degree and grade like you. First try to involve at least any IT company and erase freshers tag from
    your resume. Don't think that if you go to other IT cities Bangalore/Pune/Hydrabad you will get an IT job. Overall
    scenario is equal everywhere.</p>
<p>Be patient, make patience your strength. It may require 5 to 6 months to start a career in IT. Learn and try to be
    skilled in at least one of the fields in either of JAVA/J2EE, PHP, .Net, Software Testing. Find a small organization
    spend one or two years there and simultaneously develop and improve your skills and knowledge. Developers actually
    learn work very well in small/middle size companies not in big MNC's . At this stage do not give priority to money
    or salary and concentrate only on learning and be a skilled professional first. Do not let the money factor
    influence you at this stage. When you shall gain optimum level of expertise then you shall not be required to find a
    good salary package but it will find you instead.</p>
<p>Do a good background check of consultancies which is offering you a job. CMM Level-5 companies never take any
    resource through back door entry through job consultancies. Be alert about fake companies. Before joining any
    companies be confirmed whether your will get release letter and work experience from that company . Those are more
    valuable than how much salary you are getting from that company. Without valuable employment documents any branded
    company will not allow you in future career. All branded companies also check previous company background also and
    hence be aware about it!</p>
<p>Do not listen to others or follow others blindly. A company may offer you 10 k to 20 k monthly while an individual
    can generate 30k to 60 k monthly. But only the big companies can bear such a cost for freshers, as it is impossible
    for a fresher to generate such revenue in the first 6 months to 1 year of his/her career. Big MNC's invest money for
    initial year and pick up invested money within second year. That is the reason of 2yrs bond period in MNC's exists
    .Hence be aware of the industry! Any company is not a charitable organization . When an organization is saying to
    pay you monthly 10k or above taking 50k-60k think 100 times how that organization will pay you after 3-4 months till
    when you will not able to an expert or skilled developer and unable to work without guidance. If company pays you
    10K or above your invested amount will finish within few months then how that organization will pay you. Learning
    technologies & to be an expert takes time around one/two year ,it is not a magic that only investing 50k-60k money
    you will be an experience developer. Experience thing can not purchase by money , it needs to achieve by very hard
    work &amp; effort. </p>
<p>PCS Global provide scope for only to selected freshers after rounds of technical and non- technical interviews and
    engage them in live software development projects designed by us or given by our clients., so that the candidates
    have hands on experience with how web development company functions in reality. It requires real hard work and
    sincere efforts to learn these technical methodologies. Freshers who have capabilities to hard work 10-15 hrs in a
    day only they can be an associate of PCS Global</p>
<p>No shortcut works here!!</p>
<p>We follow the key points during development works</p>
<p>
    <li>All software development at PCS Global started using advanced framework and technologies only</li>
    <li>All phases of SDLC is applicable to web development.</li>
    <li>Coding standards to respective languages like Java ,.NET ,PHP</li>
    <li>Follow UML design & standard during development</li>
    <li>Follow Application Security approach, Managing Risk & during software development & maintenance.</li>
    <li>Design Website which are compatible to google SEO</li>
    <li>Development done by using robust frameworks like Struts,Spring,JSF and MVC - Architecture only</li>
</p>
<p>Hence if you are really willing to work in a software development company with high motivation, dedication, passion
    and if you are able to take challenges then only PCS Global is the right place for you!</p>
<p>And it is not the place for candidates who believe in applying short cut methods to build their careers. If the above
    criteria match with your profile and if you can take challenges come and join us and be a role model to your fellow
    developers.</p>
<p>We wish you all the best for your promising future!!</p>
      </td>
      </tr>
      </table>
    </span>
</div>
