<p>corporate-partners works!</p>
<!--
<div>
    <h2>Career At PCS Global Pvt Ltd</h2>
    
     <p>
      
        PCS Global has four separate business wings . A. Software Development B. Training C. Talent Outsourcing D. Technical Support
      </p>
      <p>
        <font style="color: red;font-weight: bold;">Selection of skilled manpower for Software Development & Deputation of Technical Resources to our partner Software Companies/Clients Companies strictly based upon merit only.<br/> PCS Global never charges any money in terms of job. </font>
     </p>  
    
      
    JAVA J2EE Developer
    <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/M-Tech/MCA/M.Sc(Comp)<br/>
        <font style="font-weight:bold"  >  Experience : </font> 0 - 1 Yr <br/>
        <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Having good knowledge of JAVA J2EE And Server Like Jonas, Apache Tomcat<br/>
        <font style="font-weight:bold"  >  Skills : </font> Strong Programming Skills in Java,JSP,Servlets,Struts-1,Struts-2,Spring with Hibernate, Eclipse,Webservices<br/>
        <font style="font-weight:bold"  >  Software Platform Experience : </font> Usage of Design Patterns,MVC framework, IDE Tools <br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
    </p>
    <div></div>
    .NET Developer
    <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/M-Tech/MCA/M.Sc(Comp)<br/>
        <font style="font-weight:bold"  >  Experience : </font> 0- 1 Yr <br/>
        <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Having good knowledge of JAVA J2EE And Server Like Jonas, Apache Tomcat<br/>
        <font style="font-weight:bold"  >  Skills : </font> Strong Programming Skills in ASP .NET/VB.NET/Silverlight/WPF<br/>
        <font style="font-weight:bold"  >  Software Platform Experience : </font> Usage of Design Patterns,MVC framework, IDE Tools <br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
    </p>
    <div></div>
     DBA (Database Administrator)
       <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/M-Tech/MCA/M.Sc(Comp)<br/>
        <font style="font-weight:bold"  >  Experience : </font> 0- 1 Yr <br/>
        <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Having good knowledge of Database Management ,PL/SQL<br/>
        <font style="font-weight:bold"  >  Skills : </font> Strong Programming Skills in PL/SQL,Oracle/MySql<br/>
        <font style="font-weight:bold"  >  Software Platform Experience : </font> Database Design Experience <br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>
    </p>
    <div></div>
    PHP/MySQL Developer
    <p>
        <font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> BE/B-Tech/MCA <br/>
        <font style="font-weight:bold"  >  Experience : </font> 0 - 5Yr <br/>
        <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Develop high-end PHP5 / MySQL5 based websites. <br/>
        <font style="font-weight:bold"  >  Skills : </font> Should have good knowledge of SQL (general), class / OOP, PHP5, AJAX, Jquery, XML.<br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>

    </p>
    <div class="bg"></div>
    Web Designer 
    <p>
        <font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> Any Graduate<br/>
        <font style="font-weight:bold"  >  Experience : </font> 0 - 1 Yr <br/>
        <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Develop high-end website design. <br/>
        <font style="font-weight:bold"  >  Skills : </font> Should have good knowledge of CSS,HTML,Flush,AJAX, Jquery, XML.<br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>

    </p>   

    <div class="bg"></div>
    Testers 
    <p>
        <font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> Any Graduate<br/>
        <font style="font-weight:bold"  >  Experience : </font> 0 - 1 Yr <br/>
        <font style="font-weight:bold"  >  Roles & Responsibilities : </font> Manual and tool based testing <br/>
        <font style="font-weight:bold"  >  Skills : </font> Should have good knowledge testing methodologies<br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>

    </p>           
    <div class="bg"></div>
    Telecaller
    <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> Education UG - Any Graduate - Any Specialization <br/>
        <font style="font-weight:bold"  >  Experience : </font> 6 Months - 1 Yr <br/>
        <font style="font-weight:bold"  >  Skills : </font> Should have Excellent Communication Skills and Convincing Power. Fluent in English, Hindi & Bengali.
        Should be able to work with a Team.
        Good at Computers.<br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <font style="font-weight:bold"  >  Freshers Can Also Apply for above positions</font><br/>

    </p>

    <div class="bg"></div>
    Career Counselor
    <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> Education UG - Any Graduate - Any Specialization <br/>
        <font style="font-weight:bold"  >  Experience : </font> 2- 3 Yrs ( Candidates with Experience in Educational Sector will be preffered.) <br/>

        <font style="font-weight:bold"  >  Skills : </font> having good approachable personality coupled with impeccable communication skills. Assessing the knowledge, skills, and attitudes of an individual and suggesting the right career choices for him or her.<br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
          </p>

    <div class="bg"></div>
    Content writer
    <p><font style="font-weight:bold"  >  Location : </font> Kolkata <br/>
        <font style="font-weight:bold"  >  Qualification : </font> Education UG - Any Graduate - Any Specialization <br/>
        <font style="font-weight:bold"  >  Experience : </font> 2 - 3 Yrs <br/>

        <font style="font-weight:bold"  >  Skills : </font> having good varbal and writing skills in English.<br/>
        <font style="font-weight:bold"  >  Contact HR: </font> <a href="mailto:careers@pcsglobal.co.in" style="text-decoration: none;">careers@pcsglobal.co.in</a> <br/>
        <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="clr"></div>
</div>

-->