<div style="margin-top: 10px;" >
  <span>&nbsp;</span>
</div>
<!-- <div style="margin-left: 10px;">
  <span>&nbsp;</span>
</div>
<div style="margin-right: 10px;">
  <span>&nbsp;</span>
</div> -->

<table border=2  width="100%"> 

    <tr>
      <td>
        <img src="assets/images/contact/pcsglobalbengluruoffice-img1.jpg" class="card-img-top" alt="..." style="height: auto; max-width: 80%; padding-left: 30px; padding-top: 10px;">
      </td>

      <td>
        <img src="assets/images/pcs-office-branch/saltlake.jpg" class="card-img-top" alt="..." style="width: 500%; height: 500%; padding-left: 55px; height: 500%;">
      </td>
      
      <td>
        <img src="assets/images/pcs-office-branch/16351392677841.jpg" class="card-img-top" alt="..." style="max-width: 80%; height: auto; padding-left: 130px; padding-top: 25px;">
      </td> 
    </tr>

    <tr>
      <td style="padding-bottom: 2px; padding-left: 30px; padding-top: 10px; text-align:justify;">
        <b> Bengaluru H.Q.</b>
      </td>

      <td style="padding-left: 55px; width: 26%; padding-top: 15px;">
        <b> Kolkata Saltlake </b>
      </td>
      
      <td style="padding-left: 130px; padding-top: 5px;">
        <b> Bhuvaneshwar </b>
      </td>
    </tr>

    <tr>
      <!-- <td style="padding: 30px;" >
        Godrej Genesis, Block EP & GP Opp to Syndicate Bank, <br/>
        Sector V, <br/>
        Salt Lake City, Kolkata, West Bengal 700091 <br/>
        Phone: <a href="tel: (+91) 033-23440159">(+91) 033-23440159 </a>
      </td> -->

      <td style="padding-left: 30px;">
        57/65, Chikkalakshmaiah Layout,<br>
        Hosur main road, Bengaluru,Karnataka 560029<br>
        <b>Landmark: Opposite Beauty Trips or Beyond Health medical store</b><br>
        Phone: <a href="tel: (+91) 6290184571"> | (+91) 6290184571</a><br>
        <b>
          <a href="https://www.google.com/maps/place/Beyond+health+clinic+and+medical+shop/@12.9357488,77.6084033,19.06z/data=!4m10!3m9!1s0x3bae15c40de411c3:0x250f8515b62e6f80!5m3!1s2023-10-10!4m1!1i2!8m2!3d12.9360824!4d77.6089132!16s%2Fg%2F11h909gqqd?entry=ttu" target="_blank">Live Location</a> 
        </b>
      </td>

      <td style="padding-left: 55px; padding-top: 10px; padding-bottom: 10px;">
        FD 108 Saltlake Sector 3, Kolkata-7000106 <br/>
        Phone: <a href="tel: (033)-23440159"> | (033)-23440159</a>
      </td>

      <td style="padding-left: 130px; padding-bottom: 10px;">  
        Opposite Nalco Headquarters, Jayadev Vihar, Nandankanan Rd,<br>
        Odisha Nayapalli Bhubaneswar 751013
      </td>
    </tr>
    
    <tr>
        
    </tr>
      
    <tr>
        
    </tr>
        
    <!-- <tr>
      <td style="padding-left: 20px; padding-top: 15px;">
        FD 108 Saltlake Sector 3, Kolkata-7000106 <br/>
        Phone: <a href="tel: (+91) 033-23440159"> | (+91) 033-23440159</a>
      </td>
    </tr> -->


</table>
<!-- <router-outlet></router-outlet> -->