 <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-gradient bg-parallax text-center">
        <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
              <h1 class="pagetitle__heading">About Us</h1>
              <p class="pagetitle__desc mb-0">We are experienced professionals who understand that IT services is
                changing, and are true partners who care about your success.
              </p>
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
  
      
      
  
      <!-- ========================
        About Layout 2
      =========================== -->
      <section class="about-layout2 pt-130 pb-90">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
              <div class="about__img mb-40">
                <img src="assets/images/about/guru-blessings.jpg" alt="about"><br/>
                <h2 class="heading__subtitle">An organiztion inspired by our master of love & smile to impact on million of lives in our society</h2>
                <img src="assets/images/about/1.jpg" alt="about">
              <!--  <blockquote class="blockquote mb-0">
                  <h4 class="blockquote__title"> You can come here worries with your career path or business but you cannot return back with you. Drop all worries here & start a new life , new career or business.
                  </h4>
                  <span class="blockquote__author">Foundar,PCS Global</span>
                </blockquote>     -->   
                <h2 class="heading__subtitle"> You can come here worries with your career path or business but you cannot return back with you. Drop all worries here & start a new life , new career or business.</h2>
                <img src="assets/images/about/our-mission.jpg" alt="about">
                <h2 class="heading__subtitle">Our mission to bring back smile to every unplaced engineers in India by upskilling and establish their professional career path </h2>
                <img src="assets/images/about/buildyourcareer.jpg" alt="about">
                <h2 class="heading__subtitle">Come and build your career here, join your hands with us to uplift you. Fly high again , Let Your Smile Change The World!</h2>
             
                
                </div><!-- /.about-img -->
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-1">
              <div class="heading-layout2 mb-40">
                <h2 class="heading__subtitle">PCS Global :--> P stands for Perennation (Which never perish)</h2>
                <h2 class="heading__subtitle">PCS Global :--> An Organization that's ethical</h2>                
                <h2 class="heading__subtitle">PERENNATION COMPUTER SOLUTIONS GLOBAL PRIVATE LIMITED</h2>
                <h2 class="heading__subtitle">Blessings & Inspired by our master of love Sri Sri Ravi Shankar</h2>
                <h2 class="heading__subtitle">"Let your smile change the world! Never let the world change your smile!" - Sri Sri Ravi Shankar </h2>
                
                <h2 class="heading__subtitle">Improve Efficiency and Provide Better Experiences!</h2>
                <h3 class="heading__title">Keep Your Business Safe & Ensure High Availability.</h3>
              </div><!-- /heading -->
              <div class="about-text-wrapper">
                <div class="about__Text">
                  <p class="font-weight-bold mb-30">PERENNATION COMPUTER SOLUTIONS GLOBAL PRIVATE LIMITED(PCS Global Pvt. Ltd.) partners efficiently with our clients to deliver the best customized solutions that help them to sustain the market competition. Our experts utilize industry experience, expertise to shape your requirements in all sectors.</p>
                  <p class="font-weight-bold mb-30"> We provide a portfolio of Information Technology Services, Software, and Networking that solves critical problems for clients. We specialize in helping clients secure their operations, increase the efficiency and utilization of their data centers, enhance support to their end-users and constituents, and modernize their enterprise applications. </p>
                  <p class="font-weight-bold mb-30">To provide these services and solutions, we bring together offerings and capabilities in Web development services, Systems Integration and Consulting services, Infrastructure services, Maintenance Services, and High-end server technology. Our primary client includes from Corporate Institutes, Travel and Tourism, Banking and Financial Services, Telecommunication, Media and Entertainment Industry, and many more.</p>
                </div>
                <a href="#" class="btn btn__primary btn__icon mt-30">
                  <span>Schedule An Appointment</span><i class="icon-arrow-right"></i>
                </a>
                <ul class="list-items list-items-layout2 list-unstyled mb-0 mt-60">
                  <li>PCS Global contributed 1330+ IT Professionals in Industry</li>
                  <li>Delivered in more than 5,000 client’s interactions </li>
                  <li>Provided by experts to help challenge critical activities</li>                 
                </ul>
              </div>

              <div class="about-text-wrapper">
                 <a href="#" class="btn btn__primary btn__icon mt-30">
                  <span>PCS Global Primary Services</span><i class="icon-arrow-right"></i>
                </a>
                <ul class="list-items list-items-layout2 list-unstyled mb-0 mt-60">
                  <li>Software Devlopment</li>
                  <li>Training and Placement</li>
                  <li>Talent Outsourcing</li>  
                  <li>Technical Support (Individuals & Companies)</li>            
                </ul>
              </div>
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.About Layout 2 -->
  
      <!-- ======================
      History Timeline
      ========================= -->
      <section class="history-timeline pt-130 pb-130">
        <div class="bg-img"><img src="assets/images/backgrounds/2.jpg" alt="background"></div>

        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <h2 class="heading__subtitle color-primary">Explore Our Great History!!</h2>
              <h3 class="heading__title color-white">We Fuel The Future Of Technology And IT.</h3>
              <img src="assets/images/about/first-team.jpg" alt="first-team">
              <h3 class="heading__title color-white">First Office of PCS Global</h3> 
              <img src="assets/office-photo-gallery/initial-team-2013.png" alt="first-team">
              <h4 class="heading__title color-white">Emerged as trusted Platform for unplaced Freshers: 150 associates in 2012-13</h4>
            
            </div><!-- /.col-lg-6 -->
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div>
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                 <h4 class="timeline__year">2021</h4>
                 <p class="timeline__desc">Touches 1330+ associates lives since inception . PCS Global ex-associates is now in every IT companies in India and many companies either in abroad or onsite. <br/>  
                  Spreading it services accross Globe . A new relationship started with PCS Global Canada Operation!.                
                 </p>
               </div><!--timeline-item -->
              </div>
              <div>
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                 <h4 class="timeline__year">2020</h4>
                 <p class="timeline__desc">Dealing with Overseas clients. <br/>                 
                   PCS Global reaches to every corner of the country . Virtually associates joined from Kashmir to Kanyakumarika, Maharastha to Arunachal Pradesh. <br/>
                 </p>
               </div><!--timeline-item -->
              </div>
              <div>
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                 <h4 class="timeline__year">2019</h4>
                 <p class="timeline__desc"> pread services PAN India basis , Engagement of 1150+ associates 
                  since inception. <br/>
                  
                  Work with Central Government Projects. <br/>

                                                  
                 </p>
               </div><!--timeline-item -->
              </div>
              
              <div>
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                 <h4 class="timeline__year">2018</h4>
                 <p class="timeline__desc">Started office at Koramangala, Bengaluru  <br/>                                
                 </p>
               </div><!--timeline-item -->
              </div>

             
              <div>
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                 <h4 class="timeline__year">2017</h4>
                 <p class="timeline__desc">Company wins First Central Govt. Project  www.bopter.gov.in   <br/>                               
                 </p>
               </div><!--timeline-item -->
              </div>
              <div>
                 <!-- timeline Item #1 -->
                 <div class="timeline-item d-flex">
                  <h4 class="timeline__year">2016</h4>
                  <p class="timeline__desc">Company Enlisted Ministry of 
                    Human Resource Department 
                                   
                  </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #1 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">2015</h4>
                  <p class="timeline__desc">Spread it services to across West Bengal                    
                  </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #2 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">2014</h4>
                  <p class="timeline__desc">Promoted to an ISO certified company on 
                    9thApril, 2014 . <br/>
                    
                    Company  created head office at  Merlin Infinite ,  
                    Saltlake Sector – V  <br/>
                    
                    Workshop, Internship & Skill Development Programme 
                    initiated.
                    </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #3 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">2013</h4>
                  <p class="timeline__desc"> During 2012-2013 around 150 associates joined at  PCS Global.                     
                    PCS Global promoted to Private Limited company on 9th September ,2013.                    
                    A new journey begins in company history </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #4 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">2012</h4>
                  <p class="timeline__desc">PCS Global started a new journey with its own office on 1st January,2012, at  Kasba , Kolkata – the Initial name was The Professional Consultancy Service.  
                  </p>
                </div><!-- /.timeline-item -->
                <!-- timeline Item #4 -->
                <div class="timeline-item d-flex">
                  <h4 class="timeline__year">2010</h4>
                  <p class="timeline__desc">PCS Global started its journey with a Single Telecaller     cum receptionist and a single developer in 2010 from a  two seated office  at  Kasba, Kolkata – the Initial name was The Professional Tutors
                  </p>
           </div><!-- /.timeline-item -->
              </div>
              <div class="cta-banner mt-70">
                <h4 class="cta__title">Provide users with appropriate view and access permissions to requests,
                  problems, changes, contracts, assets, solutions, and reports with our experienced professionals.</h4>
                <div class="d-flex flex-wrap">
                  <a href="#" class="btn btn__primary btn__primary-style2 btn__xl mr-20">
                    <i class="far fa-file-alt"></i>
                    <span>Download Brochure</span>
                  </a>
                  <a href="#" class="btn btn__white btn__outlined">Get Started</a>
                </div>
              </div><!-- /.cta-banner -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.History Timeline -->
  
      <!-- ========================
       gallery
      =========================== -->
      <section class="gallery pt-130 pb-90">
        <div class="container max-width-1300">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <div class="gallery-images-wrapper">
                <a class="popup-gallery-item" href="assets/office-photo-gallery/5.png">
                  <img src="assets/office-photo-gallery/5.png" alt="gallery img">
                </a>
                <a class="popup-gallery-item" href="assets/office-photo-gallery/2.png">
                  <img src="assets/office-photo-gallery/2.png" alt="gallery img">
                </a>
                <a class="popup-gallery-item" href="assets/office-photo-gallery/6.png">
                  <img src="assets/office-photo-gallery/6.png" alt="gallery img">
                </a>
                <a class="popup-gallery-item" href="assets/office-photo-gallery/10.png">
                  <img src="assets/office-photo-gallery/10.png" alt="gallery img">
                </a>
              </div><!-- /.gallery-images-wrapper -->
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5 offset-xl-1">
              <div class="sticky-top">
                <h2 class="heading__subtitle">Improve Efficiency and Provide Better Experiences!</h2>
                <h3 class="heading__title">Join The Best Secured & Trusted Company in India To Build Greatest Talent in You! .</h3>
                <p>We believe that honesty, integrity, and a commitment to ethical
                  business practices is a fundamental to how conduct ourselves in each interaction we have.</p>
                <p>Managed cloud services, mobile solutions, telecommunication services, managed security services, and
                  emergency support.</p>
                <a href="#" class="btn btn__primary mt-30">
                  <span>Our Careers</span> <i class="icon-arrow-right"></i>
                </a>
              </div>
            </div><!-- /.col-xl-7 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.gallery -->
  
      <!-- ========================
       Counters
       <!-- ========================
       Counters
      =========================== -->
      <section class="counters pt-60"> 
        <div class="container">
          <div class="row">
            <!-- counter item #1 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">31</h4>
                <p class="counter__desc">Projects And Software Developed in 2021</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #2 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">1330</h4>
                <p class="counter__desc">Software Developer Produced by PCS Global</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #3 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">27</h4>
                <p class="counter__desc">Satisfied Clients We Have Served Globally</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #4 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">10</h4>
                <p class="counter__desc">Years Of Experience In The IT & Software Industry</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.counters -->