 <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout9 bg-overlay bg-overlay-gradient bg-parallax">
        <div class="bg-img"><img src="assets/images/page-titles/8.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <h1 class="pagetitle__heading mb-30">Work Culture</h1>
              <p class="pagetitle__desc">Face to face with PCS Global team members and their experiences</p>
             
              <a href="about-us.html" class="btn btn__primary btn__primary-style2">
                <span>More About Us</span> <i class="icon-arrow-right"></i>
              </a>
            </div><!-- /.col-xl-6 -->
            <div class="col-xl-6 d-none d-xl-flex justify-content-end">
              <div class="cta-banner">
                <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                  <div>
                    <div class="cta__icon">
                      <i class="icon-file"></i>
                    </div>
                    <h4 class="cta__title mb-0">Thinking insights, verified research, and make right decisions!</h4>
                  </div>
                  <div>
                    <div class="cta__icon">
                      <i class="icon-network"></i>
                    </div>
                    <h4 class="cta__title mb-0">Utilising the latest processing solutions & decades of experience.
                    </h4>
                  </div>
                </div>
              </div><!-- /.cta-banner -->
            </div><!-- /.col-xl-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
  
      <!-- ========================
          Services Layout 1
      =========================== -->
      <section class="services-layout1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text-center mb-50">
                <h3 class="heading__title">What Our Employees Says</h3>
                <h2 class="heading__subtitle">We are a people-centric organization where work is a fulfilling experience, propelled by high levels of motivation, empowerment, and recognition.</h2>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <!-- service item #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <div class="service__icon">                             
                    <video controls="controls">
                    <source src="assets/video-gallery/MAQ00239.mp4" type="video/mp4" width="300" height="200" > 
                </video>    
            </div><!-- /.service__icon -->
                <h4 class="service__title">Emon Chakraborty</h4>
                <div class="service__content">
                  <p class="service__desc">Testimonial
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <video controls="controls">
                    <source src="assets/video-gallery/MAQ00284.mp4" type="video/mp4"> 
                </video>    
                <!-- /.service__icon -->
                <h4 class="service__title">Sreyashi Das</h4>
                <div class="service__content">
                  <p class="service__desc">Testimonial</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
        
          
          
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Services Layout 1 -->
  
     
      <!-- =========================== 
        portfolio layout 2
      ============================= -->
      <section class="portfolio-layout2 portfolio-layout2-carousel pb-50">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="heading mb-50">
                <h2 class="heading__subtitle color-body">From Darkness to Light</h2>
                <h3 class="heading__title">Success Stories</h3>
              </div><!-- /heading -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="slick-carousel"
                data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                <!-- portfolio item #1 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/1.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/1.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">Financial’s Need For
                        Strategic Advisor</a></h4>
                    <p class="portfolio__desc">We delivered solutions at every step, and moved seamlessly into a more
                      proactive role as a strategic advisor, providing support and guidance across all IT topics.</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
  
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #2 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/2.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/2.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">24x7 System Monitoring
                        and Alert Response</a></h4>
                    <p class="portfolio__desc">This single, unified platform integrates all operational phases of
                      selling and activation of their wireless services and devices, and serves as the backbone .</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #3 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/3.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/3.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">Nonprofit Organization
                        Utilized Security</a></h4>
                    <p class="portfolio__desc">Servers going down on a weekly basis had become the organization’s
                      “normal.” We came on board with the objective of stabilizing the environment,</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #4 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/4.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/4.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">Powerful IT Upgrade Aligns
                        With Your Objectives</a></h4>
                    <p class="portfolio__desc">They needed a robust management solution to organize archive critical
                      documents for client cases, and wanted to determine solutions at every step.</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #5 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/5.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/5.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">The Best IT Practices in
                        Cloud and Security</a></h4>
                    <p class="portfolio__desc">A standardized set of practices, we produce an extensive report
                      recommendations, and health ratings for each technolog phases of selling .</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #6 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/6.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/6.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">Helping Companies With
                        Healthcare Inustry</a></h4>
                    <p class="portfolio__desc">The client was not satisfied with the level of responsiveness and the
                      lack of support provided by their previous service with the objective of stabilizing.</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.carousel -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12 text-center">
              <p class="text__link mb-0">Working hard to earn our customers’ trust.
                <a href="industries.html" class="btn btn__secondary btn__link mx-1">
                  <span>Explore All Services</span> <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </p>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.portfolio layout 2 -->
  

