

    <div class="body_resize" style="-moz-border-radius: 5px;border-radius: 5px;">

        <h2>Eye On The Sky : PCS Global Transforming India(2010-20)</h2>
        <p><span></span></p>   
        
        <table width="100%" border="0" height="18" align="center">
        <tr> 
        <td height="25%" width="25%">            
            <video controls="controls">
                <source src="assets/video-gallery/Eye_On_The_Sky.mp4" type="video/mp4"> 
            </video>           
        </td>     
        
        </tr>
        </table>
        </div>
    