 <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-gradient bg-parallax text-center">
        <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
              <h1 class="pagetitle__heading">Founder’s Message</h1>
              <p class="pagetitle__desc mb-0">Inspiring Young Engineers
              </p>
            </div><!-- /.col-xl-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
  
      
  
       <!-- ========================
  About Layout 1
  =========================== -->
   <section class="about-layout1 pb-130">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                <div class="about__img">
                    <img src="assets/images/about/alok_sir-removebg-preview.png" alt="about" height="500px"> 
                    <p>"Our initiative is to bring joy and smile to our youths and our customers and our partners"
                    </p>
                    <p>"This organization is for everyone. PCS Global is a People Company where people are the most valuable asset, and where company success is dependent on our workforce being successful. " </p> 
                 </div><!-- /.about-img -->
            </div><!-- /.col-xl-5 -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-xl-1"> 
             
                <div class="heading-layout2">                   
                    <h3 class="heading__title mb-30">Message from the founder</h3>
                </div><!-- /heading -->
                <div class="about__Text">
                    <p class="mb-30"><font style="color: red; font-weight: bold;">*</font>Let my hands to be of services to Young Fresher in India</p>
                    <p class="mb-30"><font style="color: red; font-weight: bold;">*</font>Let my hands to do good work for society. My initiative is to bring joy and smile to thousands of innocent and budding freshers mind and face those are looking for their career startup here.</p>
                    <p class="mb-30"><font style="color: red; font-weight: bold;">*</font>Let us join your hands for for co-operation and support to make successful this mission and vision. Share your hands to make PCS Global as best platform for Freshers career begining in India.</p>               
                 </div>
                   <p>Managing Director(MD)</p>   
                   <p>Alok Halder</p>                   
                   <p>Perennation Computer Solutions Global(PCS Global)</p>
                  <!-- <img src="assets/images/about/singnture.png" alt="singnture" class="mt-30"/><br/> -->
                <a href="#" >Read the PCS Global story</a> 
            </div><!-- /.col-xl-7 -->

           <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 offset-xl-1">
             <div class="heading-layout2">
                 <h3 class="heading__title mb-30">Message from the CEO</h3>
             </div>
             <div class="about__Text">
                 <p class="mb-30">Trusted by the world's best organizations, for 10+ years and running, it has been
                     delivering smiles to
                     hundreds of IT advisors, developers, users, and business owners. Easy solutions for all difficult IT
                     problems to ensure high availability. </p>
                 <p class="mb-30">Provide users with appropriate view and access permissions to requests, problems,
                     changes, contracts,
                     assets, solutions, and reports with our experienced professionals. </p>
             </div>
             <img src="assets/images/about/singnture.png" alt="singnture" class="mt-30"/><br/>
             <a href="#" >Read the PCS Global story</a> 
         </div>
     -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.About Layout 1 -->

     
  
 
       <!-- ========================
       Counters
      =========================== -->
      <section class="counters pt-60"> 
        <div class="container">
          <div class="row">
            <!-- counter item #1 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">31</h4>
                <p class="counter__desc">Projects And Software Developed in 2021</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #2 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">2000</h4>
                <p class="counter__desc">Software Developer Produced by PCS Global</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #3 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">27</h4>
                <p class="counter__desc">Satisfied Clients We Have Served Globally</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
            <!-- counter item #4 -->
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="counter-item">
                <h4 class="counter">15</h4>
                <p class="counter__desc">Years Of Experience In The IT & Software Industry</p>
              </div><!-- /.counter-item -->
            </div><!-- /.col-lg-3 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.counters -->