
<div class="body_resize" style="-moz-border-radius: 5px;border-radius: 5px;">

<h2>Photo Gallary</h2>
<p><span></span></p>


<table width="98%" border="0" height="18" align="center">
<tr> 
<td height="30%" width="25%"><img src="assets/office-photo-gallery/1.png" width="350" height="253"/>
</td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/2.png" width="350" height="253"/>
</td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/3.png" width="350" height="253"/>
</td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/4.png" width="350" height="253"/>
</td>
</tr>

<tr> 
<td height="30%" width="25%"><img src="assets/office-photo-gallery/5.png" width="350" height="253"/></td>

<td height="30%" width="25%"><img src="assets/office-photo-gallery/6.png" width="350" height="253"/>
</td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/7.png" width="350" height="253"/></td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/8.png" width="350" height="253"/>
</td>

</tr>
<tr> 
<td height="30%" width="25%"><img src="assets/office-photo-gallery/13.png" width="350" height="253"/></td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/10.png" width="350" height="253"/></td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/14.png" width="350" height="253"/></td>
<td height="30%" width="25%"><img src="assets/office-photo-gallery/12.png" width="350" height="253"/></td>


</tr>
</table>
</div>
