<div class="body_resize" style="-moz-border-radius: 5px;border-radius: 5px;">

    <h2>Video Gallery</h2>
    <p><span></span></p>


    <table width="98%" border="0" height="18" align="center">
        <tr>
            <td height="25%" width="25%">
                <video controls="controls">
                    <source src="assets/video-gallery/MAQ00284.mp4" type="video/mp4">
                </video>
            </td>
            <td height="25%" width="25%">
                <video controls="controls">
                    <source src="assets/video-gallery/MAQ00219.mp4" type="video/mp4">
                </video>
            </td>

        </tr>
    </table>
</div>