<div class="wrapper">
    
  
  <!-- =========================
   Header
  =========================== -->
  <app-header></app-header>    
  
  <router-outlet></router-outlet>  
     
  <!-- ========================
  Footer
  ========================== -->
  <app-footer></app-footer>   
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2039928853706498"
crossorigin="anonymous"></script>
<!-- PCS Global Ads -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-2039928853706498"
data-ad-slot="5041196152"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
 
   <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>
  </div><!-- /.wrapper -->