

<h2>Corporate Partners</h2>
<div class="container">
  <div class="row flex">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail" >
        <img src="assets/images/partners/pursuit-software.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/corporate-parners/bopter.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
         <font><a href="http://www.bopter.gov.in" target="_blank">www.bopter.gov.in</a></font>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/corporate-parners/vyoma-mechatronics.png"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
     </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/incepital.jpg" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/corporate-parners/nois_logo.jpg" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/corporate-parners/dawn-digital.jfif" style="border-style: solid;border-color: silver; padding: 20px; width:300px;height:200px" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/corporate-parners/vyoma-logo-new-01.jpg"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;"/>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <img src="assets/images/partners/corporate-parners/IoTivity.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">      
        <img src="assets/images/partners/corporate-parners/drdmtech.png" style="width: 300px; height: 200px; border-style: solid;border-color: silver; padding: 10px;" />
     </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="assets/images/partners/corporate-parners/aster-logo.png"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="assets/images/partners/corporate-parners/integrityweb.jfif"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="assets/images/partners/corporate-parners/diya-scientific.png"  style="width: 300px; height: 200px; border-style: solid;border-color: silver;" />
        </div>
      </div>


     
  </div>
</div>