<!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay bg-overlay-gradient bg-parallax text-center">
      <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
            <h1 class="pagetitle__heading">Leadership Team</h1>
            <p class="pagetitle__desc mb-0">Inspiring Young Engineers
            </p>
          </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

<section class="team-layout1 text-center pb-40">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="member">
            <div class="member__img">
              <img src="assets/images/about/alok_sir-removebg-preview.png" alt="member img" height="350px"/>
              <div class="member__hover">
                <div class="member__content-inner">
                  <p style="color: rgb(255, 255, 255); padding: 20px">
                  Founder
                  </p>
                  <ul
                    class="social-icons justify-content-center list-unstyled mb-0"
                  >
                    <li>
                      <a href="https://www.linkedin.com/in/alok-halder-b46943178/" target="_blank" class="btn btn-info">View Profile</a>
                    </li>
                  </ul>
                  <!-- /.social-icons -->
                </div>
                <!-- /.member-content-inner -->
              </div>
              <!-- /.member-hover -->
            </div>
            <!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Mr. Alok Halder</h5>
              <p class="member__desc">Founder</p>
            </div>
            <!-- /.member-info -->
          </div>
          <!-- /.member -->
        </div>
        <!-- Member #1 -->
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="member">
            <div class="member__img">
              <img src="assets/images/about/ceo.jpg" alt="member img" />
              <div class="member__hover">
                <div class="member__content-inner">
                  <p style="color: rgb(255, 255, 255); padding: 20px">
                    Chief Executive Officer
                  </p>
                  <ul
                    class="social-icons justify-content-center list-unstyled mb-0"
                  >
                    <li>
                      <a href="https://www.linkedin.com/in/sunitchaudhuri/" target="_blank" class="btn btn-info">View Profile</a>
                    </li>
                  </ul>
                  <!-- /.social-icons -->
                </div>
                <!-- /.member-content-inner -->
              </div>
              <!-- /.member-hover -->
            </div>
            <!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Mr. Sunit Chaudhuri</h5>
              <p class="member__desc">Chief Executive Officer(CEO)</p>
            </div>
            <!-- /.member-info -->
          </div>
          <!-- /.member -->
        </div>
        <!-- /.col-lg-3 -->
        <!-- Member #1 -->
        
        <!-- /.col-lg-3 -->
         <!-- Member #1 -->
       
        <!-- /.col-lg-3 -->
         <!-- Member #1 -->
         <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="member">
            <div class="member__img">
              <img src="../../assets/images/about/swarnali.jpeg" alt="member img" height="350px"/>
              <div class="member__hover">
                <div class="member__content-inner">
                  <p style="color: rgb(255, 255, 255); padding: 20px">
                    Human Resource Manager (HR)
                  </p>
                  <ul
                    class="social-icons justify-content-center list-unstyled mb-0"
                  >
                    <li>
                      <a href="#" class="btn btn-info">View Profile</a>
                    </li>
                  </ul>
                  <!-- /.social-icons -->
                </div>
                <!-- /.member-content-inner -->
              </div>
              <!-- /.member-hover -->
            </div>
            <!-- /.member-img -->
            <div class="member__info">
              <h5 class="member__name">Mr. Swarnali Mukherjee</h5>
              <p class="member__desc">   Human Resource Manager (HR)</p>
            </div>
            <!-- /.member-info -->
          </div>
          <!-- /.member -->
        </div>
        <!-- /.col-lg-3 -->
          <!-- Member #1 -->
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="member">
              <div class="member__img">
                <img src="assets/images/about/Debamitra_Banerjee-removebg-preview.png" alt="member img" height="350px"/>
                <div class="member__hover">
                  <div class="member__content-inner">
                    <p style="color: rgb(255, 255, 255); padding: 20px">
                      Cheif Innovation Officer(CIO)
                    </p>
                    <ul
                      class="social-icons justify-content-center list-unstyled mb-0"
                    >
                      <li>
                        <a href="https://www.linkedin.com/in/debamitra-banerjee-7574b9178/" target="_blank" class="btn btn-info">View Profile</a>
                      </li>
                    </ul>
                    <!-- /.social-icons -->
                  </div>
                  <!-- /.member-content-inner -->
                </div>
                <!-- /.member-hover -->
              </div>
              <!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name">Mr. Debamitra Banerjee</h5>
                <p class="member__desc"> Cheif Innovation Officer(CIO)</p>
              </div>
              <!-- /.member-info -->
            </div>
            <!-- /.member -->
          </div>
          <!-- /.col-lg-3 -->
             <!-- Member #1 -->
        
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.Team layout 1  -->
  