<section class="slider">
    <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0" data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="assets/images/sliders/alok-photo1.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                      <!--  <div class="slide__content">
                            <h2 class="slide__title">Award Ainning Digital Products!</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Datasoft provides Consultative Approach On
                                Emerging Technology.</p>
                            <div class="d-flex flex-wrap align-items-center">
                                <a href="about-us.html" class="btn btn__white mr-30">
                                    <i class="icon-arrow-right"></i>
                                    <span>More About Us</span>
                                </a>
                                <a href="it-solutions.html" class="btn btn__white btn__outlined">Our Services</a>
                            </div>
                        </div>   /.slide-content 
                    -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->            
        </div><!-- /.slide-item -->
        
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">           
         <div class="bg-img"><img src="assets/images/sliders/8.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                        <div class="slide__content">
                            <h2 class="slide__title"></h2>
                            <p class="slide__desc"></p>
                            <div class="d-flex flex-wrap align-items-center">
                                <!-- <a href="about-us.html" class="btn btn__white mr-30">
                                    <i class="icon-arrow-right"></i>
                                    <span>More About Us</span>
                                </a>
                               <a href="it-solutions.html" class="btn btn__white btn__outlined">Our Services</a> -->
                            </div>
                        </div><!-- /.slide-content -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="assets/images/sliders/alok-photo2.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                      <!--  <div class="slide__content">
                            <h2 class="slide__title">Award Ainning Digital Products!</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Datasoft provides Consultative Approach On
                                Emerging Technology.</p>
                            <div class="d-flex flex-wrap align-items-center">
                                <a href="about-us.html" class="btn btn__white mr-30">
                                    <i class="icon-arrow-right"></i>
                                    <span>More About Us</span>
                                </a>
                                <a href="it-solutions.html" class="btn btn__white btn__outlined">Our Services</a>
                            </div>
                        </div>   /.slide-content 
                    -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide-item -->
        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="assets/images/sliders/8.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                      <!--  <div class="slide__content">
                            <h2 class="slide__title">Award Ainning Digital Products!</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Datasoft provides Consultative Approach On
                                Emerging Technology.</p>
                            <div class="d-flex flex-wrap align-items-center">
                                <a href="about-us.html" class="btn btn__white mr-30">
                                    <i class="icon-arrow-right"></i>
                                    <span>More About Us</span>
                                </a>
                                <a href="it-solutions.html" class="btn btn__white btn__outlined">Our Services</a>
                            </div>
                        </div>   /.slide-content 
                    -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->            
        </div><!-- /.slide-item -->

        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="assets/images/sliders/1.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                      <!--  <div class="slide__content">
                            <h2 class="slide__title">Award Ainning Digital Products!</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Datasoft provides Consultative Approach On
                                Emerging Technology.</p>
                            <div class="d-flex flex-wrap align-items-center">
                                <a href="about-us.html" class="btn btn__white mr-30">
                                    <i class="icon-arrow-right"></i>
                                    <span>More About Us</span>
                                </a>
                                <a href="it-solutions.html" class="btn btn__white btn__outlined">Our Services</a>
                            </div>
                        </div>   /.slide-content 
                    -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->            
        </div><!-- /.slide-item -->



        <div class="slide-item align-v-h bg-overlay bg-overlay-gradient">
            <div class="bg-img"><img src="assets/images/sliders/8.jpg" alt="slide img"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
                      <!--  <div class="slide__content">
                            <h2 class="slide__title">Award Ainning Digital Products!</h2>
                            <p class="slide__desc">We are experienced professionals who understand that It services is changing,
                                and are true partners who care about your success. Datasoft provides Consultative Approach On
                                Emerging Technology.</p>
                            <div class="d-flex flex-wrap align-items-center">
                                <a href="about-us.html" class="btn btn__white mr-30">
                                    <i class="icon-arrow-right"></i>
                                    <span>More About Us</span>
                                </a>
                                <a href="it-solutions.html" class="btn btn__white btn__outlined">Our Services</a>
                            </div>
                        </div>   /.slide-content 
                    -->
                    </div><!-- /.col-xl-7 -->
                </div><!-- /.row -->
            </div><!-- /.container -->            
        </div><!-- /.slide-item -->
    </div><!-- /.carousel -->
</section><!-- /.slider -->