 <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout9 bg-overlay bg-overlay-gradient bg-parallax">
        <div class="bg-img"><img src="assets/images/page-titles/8.jpg" alt="background"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
              <h1 class="pagetitle__heading mb-30">Hire Developers From PCS Global </h1>
              <p class="pagetitle__desc">
                All Leading MNC Companies in India hiring developers from PCS GLOBAL now!!
              </p>
              <p class="pagetitle__desc">              
                 Since inception of PCS Global we emerged as largest Technical Resource Builder and Provider to  Several Software Companies in PAN India including PCS Global for needs of highly efficient S/W Developer .
                </p>
              
                <p class="pagetitle__desc">
                  PCS Global is a power house and have enormous capability to build a fresher to an highly efficient developer within very short span of time who can fit for Industry and mass requirement in progress for this purpose based upon merit only.
                </p>
                <a href="about-us.html" class="btn btn__primary btn__primary-style2">
                <span>More About Us</span> <i class="icon-arrow-right"></i>
              </a>
            </div><!-- /.col-xl-6 -->
            <div class="col-xl-6 d-none d-xl-flex justify-content-end">
              <div class="cta-banner">
                <div class="slick-carousel" data-slick='{"slidesToShow": 1, "arrows": false, "dots": true}'>
                  <div>
                    <div class="cta__icon">
                      <i class="icon-file"></i>
                    </div>
                    <h4 class="cta__title mb-0">PCS Global where developers born everyday!!</h4>
                  </div>
                  <div>
                    <div class="cta__icon">
                      <i class="icon-network"></i>
                    </div>
                    <h4 class="cta__title mb-0">PCS Global where developers born everyday!!
                    </h4>
                  </div>
                </div>
              </div><!-- /.cta-banner -->
            </div><!-- /.col-xl-5 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.page-title -->
  
      <!-- ========================
          Services Layout 1
      =========================== -->
      <section class="services-layout1">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
              <div class="heading text-center mb-50">
                <h2 class="heading__subtitle">Nationwide Talent Outsourcing Service by PCS Global</h2>
                <h3 class="heading__title">In 2021 PCS Global sent 300+ associates to MNC Companies directly/indirectly through our vendor</h3>
              </div><!-- /.heading -->
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
          <div class="row">
            <!-- service item #1 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <img src="assets/images/partners/incepital.jpg" alt="icon"/>   
                <div class="service__content">
                  <p class="service__desc">
                    PCS Global is strong resource provider with Incepital , so far deputed 20+ S/W Developer resource successfully.
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span> 
                      <a href="https://www.inceptialtech.com/" target="_blank">Read More</a></span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->            
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #2 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <img src="assets/images/partners/pursuit-software.png" alt="icon"/> 
                <div class="service__content">
                  <p class="service__desc">
                    PCS Global is strong resource provider with Pursuit Software, for Salesforce Resource.
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span> 
                      <a href="https://www.pursuitsoftware.biz/" target="_blank">Read More</a></span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->        
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #3 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <img src="assets/images/partners/dawndgtlogo.png" alt="icon" height="150px"/> 
                <div class="service__content">
                  <p class="service__desc">
                    PCS Global is strong resource provider with Dawn Digital Technology, for Salesforce Resource.
                  </p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span> 
                      <a href="https://dawndgt.com/" target="_blank">Read More</a></span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->        
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #4 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <h2>Accenture</h2>               
                <div class="service__content">
                  <p class="service__desc">So more than 15+ PCS Global associates joined in last 1 years</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #5 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <h2>Capgemini</h2>               
                <div class="service__content">
                  <p class="service__desc">So more than 50+ PCS Global associates joined in last 1 years</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
            <!-- service item #6 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <h2>TCS</h2>               
                <div class="service__content">
                  <p class="service__desc">So more than 10+ PCS Global associates joined in last 1 years</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
              <!-- service item #7 -->
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="service-item">
                  <h2>IBM</h2>               
                  <div class="service__content">
                    <p class="service__desc">So more than 10+ PCS Global associates joined in last 1 years</p>
                    <a href="it-solutions-single.html" class="btn btn__primary">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.service-content -->
                </div><!-- /.service-item -->
              </div><!-- /.col-lg-4 -->
                <!-- service item #6 -->
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="service-item">
                <h2>Wipro</h2>               
                <div class="service__content">
                  <p class="service__desc">So more than 8+ PCS Global associates joined in last 1 years</p>
                  <a href="it-solutions-single.html" class="btn btn__primary">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div><!-- /.service-content -->
              </div><!-- /.service-item -->
            </div><!-- /.col-lg-4 -->
              <!-- service item #6 -->
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="service-item">
                  <h2>Ericsson</h2>               
                  <div class="service__content">
                    <p class="service__desc">So more than 7+ PCS Global associates joined in last 1 years</p>
                    <a href="it-solutions-single.html" class="btn btn__primary">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.service-content -->
                </div><!-- /.service-item -->
              </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.Services Layout 1 -->
  
     
      <!-- =========================== 
        portfolio layout 2
      ============================= -->
      <section class="portfolio-layout2 portfolio-layout2-carousel pb-50">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
              <div class="heading mb-50">
                <h2 class="heading__subtitle color-body">Latest Update</h2>
                <h3 class="heading__title">Success stories of Talent Outsourcing Department Of PCS Global</h3>
              </div><!-- /heading -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="slick-carousel"
                data-slick='{"slidesToShow": 3, "slidesToScroll": 3, "arrows": false, "dots": true, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}'>
                <!-- portfolio item #1 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/associate-success-story/1617175629355.jfif"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <!--<div class="portfolio__icon">
                    <img src="assets/images/partners/accenture.png" alt="icon">
                  </div>-->
                  <!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">Anusree</a></h4>
                    <p class="portfolio__desc">Your hard work with PCS Global Paid Off</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
  
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #2 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/associate-success-story/1623909938173.jfif"
                        alt="portfolio img"></a>
                  </div>
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">........</a></h4>
                    <p class="portfolio__desc">.......</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #3 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/associate-success-story/1624718659734.jfif"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
               
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">...</a></h4>
                    <p class="portfolio__desc">........</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #4 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/associate-success-story/1624718659734.jfif"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                 
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">.....</a></h4>
                    <p class="portfolio__desc">..........</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #5 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/5.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/5.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">The Best IT Practices in
                        Cloud and Security</a></h4>
                    <p class="portfolio__desc">A standardized set of practices, we produce an extensive report
                      recommendations, and health ratings for each technolog phases of selling .</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
                <!-- portfolio item #6 -->
                <div class="portfolio-item">
                  <div class="portfolio__img">
                    <a href="case-studies-single.html"><img src="assets/images/portfolio/modern/6.jpg"
                        alt="portfolio img"></a>
                  </div><!-- /.portfolio-img -->
                  <div class="portfolio__icon">
                    <img src="assets/images/icons/6.png" alt="icon">
                  </div><!-- /.portfolio__icon -->
                  <div class="portfolio__content">
                    <h4 class="portfolio__title"><a href="#">Helping Companies With
                        Healthcare Inustry</a></h4>
                    <p class="portfolio__desc">The client was not satisfied with the level of responsiveness and the
                      lack of support provided by their previous service with the objective of stabilizing.</p>
                    <a href="case-studies-single.html" class="btn btn__secondary btn__link">
                      <span>Read More</span>
                      <i class="icon-arrow-right"></i>
                    </a>
                  </div><!-- /.portfolio-content -->
                </div><!-- /.portfolio-item -->
              </div><!-- /.carousel -->
            </div><!-- /.col-lg-12 -->
          </div><!-- /.row -->
          <div class="row">
            <div class="col-12 text-center">
              <p class="text__link mb-0">Working hard to earn our customers’ trust.
                <a href="industries.html" class="btn btn__secondary btn__link mx-1">
                  <span>Explore All Services</span> <i class="icon-arrow-right icon-outlined"></i>
                </a>
              </p>
            </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section><!-- /.portfolio layout 2 -->
  
