<section class="page-title page-title-layout1 bg-overlay bg-overlay-gradient bg-parallax text-center">
  <div class="bg-img"><img src="assets/images/page-titles/1.jpg" alt="background"></div>
  <div class="container">
    <div class="row">
      <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
        <h1 class="pagetitle__heading">Developers Team</h1>
        <p class="pagetitle__desc mb-0">Inspiring Young Engineers
        </p>
      </div><!-- /.col-xl-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="team-layout1 text-center pb-40">
  <div class="container">
    <div class="row">
      <!-- /.col-lg-3 -->
      <!-- Member #1 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="member">
          <div class="member__img">
            <img src="../../assets/images/team/0.jpg" alt="member img" height="350px" />
            <div class="member__hover">
              <div class="member__content-inner">
                <p style="color: rgb(255, 255, 255); padding: 20px">
                  Chief Operating Officer (COO)
                </p>
                <ul class="social-icons justify-content-center list-unstyled mb-0">
                  <li>
                    <a href="#" class="btn btn-info">View Profile</a>
                  </li>
                </ul>
                <!-- /.social-icons -->
              </div>
              <!-- /.member-content-inner -->
            </div>
            <!-- /.member-hover -->
          </div>
          <!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Anita Archarya</h5>
            <p class="member__desc">Developer</p>
          </div>
          <!-- /.member-info -->
        </div>
        <!-- /.member -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- Member #1 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="member">
          <div class="member__img">
            <img src="../../assets/images/team/0.jpg" alt="member img" />
            <div class="member__hover">
              <div class="member__content-inner">
                <p style="color: rgb(255, 255, 255); padding: 20px">
                  Debasis Pal
                </p>
                <ul class="social-icons justify-content-center list-unstyled mb-0">
                  <li>
                    <a href="#" class="btn btn-info">View Profile</a>
                  </li>
                </ul>
                <!-- /.social-icons -->
              </div>
              <!-- /.member-content-inner -->
            </div>
            <!-- /.member-hover -->
          </div>
          <!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Dipak Biswas</h5>
            <p class="member__desc">Developer</p>
          </div>
          <!-- /.member-info -->
        </div>
        <!-- /.member -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- Member #1 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="member">
          <div class="member__img">
            <img src="../../assets/images/team/0.jpg" alt="member img" />
            <div class="member__hover">
              <div class="member__content-inner">
                <p style="color: rgb(255, 255, 255); padding: 20px">
                  Amitava
                </p>
                <ul class="social-icons justify-content-center list-unstyled mb-0">
                  <li>
                    <a href="#" class="btn btn-info">View Profile</a>
                  </li>
                </ul>
                <!-- /.social-icons -->
              </div>
              <!-- /.member-content-inner -->
            </div>
            <!-- /.member-hover -->
          </div>
          <!-- /.member-img -->
          <div class="member__info">
            <h5 class="member__name">Prabhjot</h5>
            <p class="member__desc">Developer</p>
          </div>
          <!-- /.member-info -->
        </div>
        <!-- /.member -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Team layout 1  -->